<aside class="sidebar" id="sidebar">
    <h3>Меню сайту</h3>
    <nav class="sidebar-nav">
        <a href="/about/" {% if page.url == "/about/" %}class="active"{% endif %}>Про КЗ "ЗМРЦ"</a>
        <a href="/management/" {% if page.url == "/management/" %}class="active"{% endif %}>Управління</a>
        <a href="/transparency/" {% if page.url == "/transparency/" %}class="active"{% endif %}>Прозорість та інформаційна відкритість</a>
        <a href="/entrants/" {% if page.url == "/entrants/" %}class="active"{% endif %}>Вступникам</a>
        <a href="/graduates/" {% if page.url == "/graduates/" %}class="active"{% endif %}>Випускникам</a>
        <a href="/schedule/" {% if page.url == "/schedule/" %}class="active"{% endif %}>Освітній процес (Розклад)</a>
        <a href="/methodical/" {% if page.url == "/methodical/" %}class="active"{% endif %}>Методична робота</a>
        <a href="/bullying-procedure/" {% if page.url == "/bullying-procedure/" %}class="active"{% endif %}>Порядок розгляду заяв про булінг</a>
        <a href="/facilities/" {% if page.url == "/facilities/" %}class="active"{% endif %}>Матеріально-технічна база</a>
        <a href="/anti-bullying/" {% if page.url == "/anti-bullying/" %}class="active"{% endif %}>Запобігання та протидія булінгу</a>
        <a href="/safety/" {% if page.url == "/safety/" %}class="active"{% endif %}>Запобігання дитячого травматизму</a>
        <a href="/traffic-rules/" {% if page.url == "/traffic-rules/" %}class="active"{% endif %}>On-line ПДР</a>
        <a href="/links/" {% if page.url == "/links/" %}class="active"{% endif %}>Корисні посилання</a>
    </nav>
</aside>
